* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    color: #050522;
    font-size: 18px;
}
.d-none {
    display: none !important;
}
.hidden {
    bottom: -1000px !important;
}
.button {
    border-radius: 30px;
    background: #050522;
    box-shadow: 0px 0px 50px 5px rgba(6, 6, 34, 0.40);
    color: #FFDE69;
    text-align: center;
    text-shadow: -1px 1px 10px rgba(255, 222, 105, 0.15);
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    border: 3px solid #FFDE69;
    box-shadow: -1px 1px 10px 0px rgba(255, 222, 105, 0.15);
    align-self: stretch;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: #1B1A40;
        text-shadow: -1px 1px 10px rgba(27, 26, 64, 0.15);
        background: #FFDE69;
    }
    &:active {
        color: #1B1A40;
        text-shadow: -1px 1px 10px rgba(27, 26, 64, 0.15);
        background: #FFDE69;
    }
}
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 0.5);
    z-index: 5;
}

@import './blocks/main';
@import './blocks/authorisation-form';
@import './blocks/registration-form';
@import './blocks/input-styles';